<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MINIMO</title>
    <link href="../styles/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
      <!---------------------------------Header-Block--------------------------------->
    <header class="header">
        <span class="logo">
        <img src="../images/header/minimo.png" title="Join us and discover the beauty of this world" alt="logotype">
        </span>
        <ul class="navigation">
            <li class="navigation__item"><a class="navigation__ref" href="#">lifestyle</a></li>
            <li class="navigation__item"><a class="navigation__ref" href="#">photodiary</a></li>
            <li class="navigation__item"><a class="navigation__ref" href="#">music</a></li>
            <li class="navigation__item"><a class="navigation__ref" href="#">travel</a></li>
        </ul>
    </header>
    <main class="main">
        <div class="main__image"></div>
        <div class="container">
        <aside class="aside">
        <div class="about">
         <div class="about__image"><img src="../images/body/sidebar/about/bio/about-image.png" alt="bio image"></div>
         <div class="about__text">
            <h1 class="about__header">About me</h1>
            <p class="about__article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="share-icons">
                <span class="share-icons__item"><a class="share-icons__ref" href="#"><img src="../images/body/share/fb.png" alt="facebook"></a></span>
                <span class="share-icons__item"><a class="share-icons__ref" href="#"><img src="../images/body/share/instagram.png" alt="instagram"></a></span>
                <span class="share-icons__item"><a class="share-icons__ref" href="#"><img src="../images/body/share/pinterest.png" alt="pinterest"></a></span> 
            </div>
        </div>
        </div>
            <div class="top-posts">
                <div class="top-posts__header">top posts</div>
                    <ul  class="post-reference">
                        <li class="post-reference__marker"><a href="#">
                            <span class="post-reference__marker-text">A day exploring the Alps</span>
                            <div class="post-reference__comment">24 comments</div>
                            </a></li>
                        <li class="post-reference__marker"><a href="#">
                            <span class="post-reference__marker-text">American dream</span>
                            <div class="post-reference__comment">19 comments</div>
                            </a></li>
                        <li class="post-reference__marker"><a href="#">
                            <span class="post-reference__marker-text">Cold winter days</span>
                            <div class="post-reference__comment">15 comments</div>
                            </a></li>
                    </ul>
            </div>
              <div class="banner">
              <div><a href="#"><img src="../images/body/sidebar/banner/image.png" alt="banner-image"></a>
                 <div class="banner__size">250x250</div>
                <div class="banner__spot">banner spot</div>
                </div>
            </div>
        </aside>
        <!---------------------------------Main-section--------------------------------->
        <section class="section">
        <div class="section__name">Photodiary</div>
            <article class="content">
                <h2 class="content__header">The perfect weekend getaway</h2>
                <p class="content__text content__text_theme_simple">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <b> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</b> Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</p>
                <div class="content__image">
                <img src="../images/body/article/photo-1/image.jpeg" alt="blondy and sand">
                </div>
                <div class="content__image">
                <img src="../images/body/article/photo-2/image.jpeg" alt="blondy and sand">
                </div>
                <div class="content__image">
                <img src="../images/body/article/photo-3/image.jpeg" alt="blondy and sand">
                </div>
                <p class="content__text content__text_theme_italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <p class="content__text content__text_theme_simple">Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                <div class="share">
                <div class="share-icons">
                <span class="share-icons__text">share</span>
                <span class="share-icons__item">
                        <a class="share-icons__ref" href="#">
                        <img src="../images/body/share/fb.png" alt="facebook" title="Share in Facebook">
                        </a>
                    </span>
                    <span class="share-icons__item">
                        <a class="share-icons__ref" href="#">
                        <img src="../images/body/share/tw.png" alt="twitter" title="Share in Twitter">
                        </a>
                    </span>
                    <span class="share-icons__item">
                        <a class="share-icons__ref" href="#">
                        <img src="../images/body/share/g+.png" alt="google+" title="Share in Google+">
                        </a>
                    </span>
                    <span class="share-icons__item">
                        <a class="share-icons__ref" href="#">
                         <img src="../images/body/share/tumblr.png" alt="tambler" title="Share in Tambler">
                        </a>
                    </span>
                    <span class="share-icons__item">
                        <a class="share-icons__ref" href="#">
                        <img src="../images/body/share/pinterest.png" alt="pinterest" title="Share in Pinterest">
                        </a>
                    </span>
                </div>
              </div>
            </article>
        </section>
            </div>
    </main>
      <!---------------------------------End-Main--------------------------------->
      <footer class="footer">
          <div class="footer__content">
              <span><a href="#" class="footer__ref"><b>Terms and Condition</b></a></span>
              <span><a href="#" class="footer__ref"><b>Privacy</b></a></span>
          </div>
          <div class="follow-bar">
              <span  class="follow-bar__text"><b>Follow</b></span>
              <span class="follow-bar__icon"><a class="follow-bar__ref" href="#">
                  <img src="../images/footer/social/facebook.png" alt="facebook">
                  </a></span>
              <span class="follow-bar__icon"><a class="follow-bar__ref" href="#">
                  <img src="../images/footer/social/twitter.png" alt="twitter">
                  </a></span>
              <span class="follow-bar__icon"><a class="follow-bar__ref" href="#">
                  <img src="../images/footer/social/instagram.png" alt="instagram">
                  </a></span>
          </div>
      </footer>
  </body>
</html>