@font-face {
font-family: Playfair-Display;
src: url(../fonts/PlayfairDisplay-regular.ttf) format("truetype");
} 
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Light.ttf) format("truetype");
}
@font-face {
    font-family: Playfair-Display-italic;
    src: url(../fonts/PlayfairDisplay-Italic.ttf) format("truetype");
}
.header {
    margin-bottom: 60px;
    width: 1060px;
    padding: 30px;
    padding-bottom: 70px;
    margin: 0 auto;
}
.logo {
}
a {
    text-decoration: none;
}
a:visited {
    color: #626000;
}
.navigation {
    margin: 0;
    padding: 4px;
    float: right;   
    
}
.navigation__item  {
    display: inline;
    margin-left: 100px;
    padding: 3px; 
   
}
.navigation__item :hover {
    text-decoration:overline; 
}
.navigation__item :active {
    color: #626090;
    bottom: 5px;  
}
.navigation__ref {
    font-family: Playfair-Display, serif;
    font-size: 14px;
    color: #626262;  
    text-transform: uppercase;
    position: relative;
}
.main {
    padding: 25px;
    margin: 0 auto;
    width: 1060px;
    margin-bottom: 150px;
}
.main__image {
    height: 509px;
    background-image: url(../images/body/cover-image/image.jpeg)
}
.container {
     padding-top: 80px;
}
.aside {
    float: right;
    width: 272px;
}
.about {
    margin-bottom: 100px;
}
.about__text {
    font-family: Playfair-Display, serif;
    color: #626262;
}
.about__header {
    font-size: 24px;
    font-weight: 400;
}
.about__article {
    font-size: 12px;
    padding-bottom: 10px;
}
.share {
    padding-top: 70px;
    float: right;
}
.share-icons {
    float: left;
}
.share-icons__text {
    font-family: Ubuntu;
    font-size: 12px;
    color: #b4ad9e;
    padding-right: 20px;
    text-transform: uppercase; 
}
.share-icons__item {
    margin-right: 10px; 
}
.share-icons__ref {
     position: relative;
}
.share-icons__ref:hover{
    bottom: 5px;
}
.top-posts {
    margin-bottom: 50px;
}
.top-posts__header {
    font-family: Ubuntu;
    font-size: 14px;
    color: #b4ad9e;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.post-reference {
     padding-bottom: 20px;
    padding-left: 10px;
}
.post-reference__marker {
    color: #b4ad9e;
    padding-bottom: 20px;
}
.post-reference__marker-text {
    font-family: Playfair-Display, serif;
    font-size: 16px;
    color: #626262;
}
.post-reference__comment {
    font-family: Ubuntu;
    font-size: 12px;
    color: #b4ad9e;
    padding-top: 10px;
    padding-left: 10px;
    text-transform: uppercase;
}
.banner {
    text-align: center;
    font-family: Ubuntu;
    color: #ffffff;
    text-transform: uppercase;
}
.banner__size {
    font-size: 48px;
    position: relative;
    margin: inherit;
    margin-top: -150px;
}
.banner__spot {
    font-size: 14px;
    position: relative;
    margin-bottom: -100px;
}
.section {
    width: 661px;
    padding-left: 50px;
}
.section__name {
    font-family: Ubuntu;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
}
.content__header {
    font-family: Playfair-Display, serif;
    font-size: 30px;
    font-weight: 400;
    color: #626262;
}
.content__text {
    color: #626262;
}

.content__text_theme_simple {
    font-family: Playfair-Display, serif;
    font-size: 14px;
    letter-spacing: normal;
}
.content__text_theme_italic {
    font-family: Playfair-Display-italic, serif;
    padding-left: 14px;
    letter-spacing: normal;
}
.content__image {
     margin-bottom: 50px;
}
.footer {
    background-color: #d9d9d9;
    padding-left:  10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 50px;
}
.footer__ref {
    font-family: Playfair-Display, serif;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    float: left;
    padding-right: 15px;
}
.footer__ref:hover{
    text-decoration: underline;
}
.follow-bar {
    font-family: Playfair-Display, serif;
    font-size: 14px;
    color: #000000;
    float: right;
}
.follow-bar__ref {
    position: relative;
}
.follow-bar__text {
    
    padding-right: 20px;
}
.follow-bar__icon {
    padding-right: 20px;
}
.follow-bar__icon:hover {
    bottom: 5px;
}